services:
  localstack:
    image: localstack/localstack:4.11.1@sha256:3071c9c72a1e9dbc23ad33540617ad7825ffeba80a8f421eff798b97850f9de5
    environment:
      - EAGER_SERVICE_LOADING=1
      - SERVICES=dynamodb
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DEBUG=${DEBUG-}
    ports:
      - 4566:4566
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin:5.1.3@sha256:46d9c7f5234688481a807987113ab068acaa11fd7057c9bb84ef181f492a0194
    environment:
      - AWS_REGION=ap-southeast-1
      - DYNAMO_ENDPOINT=http://localstack:4566
    ports:
      - 8001:8001
