name: Build radiojournal lambdas

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      # renovate: datasource=pypi depName=cargo-lambda
      CARGO_LAMBDA_VERSION: '1.8.6'
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install rust toolchain
        run: |
          cargo version
          rustup target add aarch64-unknown-linux-gnu

      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: build
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: '.python-version'
          cache: 'pip'

      - name: Install cargo lambda
        run: pip3 install cargo-lambda==${{ env.CARGO_LAMBDA_VERSION }}

      - name: Build lambdas
        run: cargo lambda build --release --arm64 --locked --bin radiojournal-logger --bin radiojournal-api

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          name: lambdas
          path: target/lambda
          include-hidden-files: true
          retention-days: 3
