name: Build radiojournal lambdas

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      # renovate: datasource=pypi depName=cargo-lambda
      CARGO_LAMBDA_VERSION: '1.8.6'
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install rust toolchain
        run: |
          cargo version
          rustup target add aarch64-unknown-linux-gnu

      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: build
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: '.python-version'
          cache: 'pip'

      - name: Install cargo lambda
        run: pip3 install cargo-lambda==${{ env.CARGO_LAMBDA_VERSION }}

      - name: Build lambdas
        run: cargo lambda build --release --arm64 --locked --bin radiojournal-logger --bin radiojournal-api

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          name: lambdas
          path: target/lambda
          include-hidden-files: true
          retention-days: 3
