name: Bump version
on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'The bump type for new release'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
          - version
      version:
        type: string
        description:
          'Explicit version to bump to, if `bump-type` is set to `version`'

jobs:
  bump-version:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      # renovate: datasource=github-releases depName=python-poetry/poetry
      POETRY_VERSION: '2.3.0'
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install poetry
        run: pip3 install "poetry==${{ env.POETRY_VERSION }}"

      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: '.python-version'
          cache: 'poetry'

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: frontend/package.json

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          cache-dependency-path: "frontend/pnpm-lock.yaml"

      - name: Install rust toolchain
        run: cargo version

      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: tests
          save-if: false

      - name: Bump packages to new version number
        env:
          BUMP_TYPE: ${{ inputs.bump-type }}
          VERSION: ${{ inputs.version }}
        run: ./scripts/bump_version.sh "$BUMP_TYPE" "$VERSION"

      - name: Create pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: 'release: ${{ env.NEXT_VERSION }}'
          title: 'release: ${{ env.NEXT_VERSION }}'
          body: 'Bump radiojournal packages to version ${{ env.NEXT_VERSION }}'
          branch: release-${{ env.NEXT_VERSION }}
          reviewers: |
            fluxth
